<div class="bottom-row px-4">
	<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
	<a href="https://github.com/Uplink036/StardewCalculator">
		<img src="images/github-mark/github-mark.svg" alt="Unknows size" />
		<!--
		<picture>
			<source media="(max-width: 640.98px)" scrset="../Components/images/github-mark/github-mark.svg" />
			<source media="(min-width: 641px)" scrset="../Components/images/GitHub-Logos/GitHub_Logo.png" /> 
			<img src="../Components/Images/github-mark/github-mark.svg" alt="Unknows size" />
		</picture>
		-->
	</a>
</div>