@page "/calculator"
@using StardewCalculator.Components.Classes

@rendermode InteractiveServer
<PageTitle> StardewCalculator </PageTitle>
<h3>Calculator</h3>

<div class="calculator">

    <div class="calculator__output">
        @result
    </div>
    
    <div class="calculator__keys">
        <button class="calculator__key calculator__key--operator">+</button>
        <button class="calculator__key calculator__key--operator">-</button>
        <button class="calculator__key calculator__key--operator">&times;</button>
        <button class="calculator__key calculator__key--operator">÷</button>
        <button class="calculator__key">7</button>
        <button class="calculator__key">8</button>
        <button class="calculator__key">9</button>
        <button class="calculator__key">4</button>
        <button class="calculator__key">5</button>
        <button class="calculator__key">6</button>
        <button class="calculator__key">1</button>
        <button class="calculator__key">2</button>
        <button class="calculator__key">3</button>
        <button class="calculator__key">0</button>
        <button class="calculator__key">.</button>
        <button class="calculator__key">AC</button>
        <button class="calculator__key calculator__key--enter">=</button>
    </div>
</div>


@code {
    private float result = 4;
}
