@page "/calculator"
@using StardewCalculator.Components.Classes

@rendermode InteractiveServer
<PageTitle> StardewCalculator </PageTitle>
<style>
    body {
    background-image: url("four_seasons.jpg");
    background-repeat: no-repeat;
    background-position: center; 
}
</style>
<h3>Calculator</h3>

<ul>
    Result = <input @bind="result"/>
</ul>

<input placeholder="Calculate String" @bind="inputString" />
<button @onclick="calculate">Calculate</button>

@code {
    private StringCalculator parser = new StringCalculator();
    private float result = 0;
    private string? inputString;
    private void calculate()
    {
        if (!string.IsNullOrWhiteSpace(inputString))
        {
            result =  parser.stringToFloat(inputString);
        }
    }
}
