@page "/calculator"
@using StardewCalculator.Components.Classes

@rendermode InteractiveServer
<PageTitle> StardewCalculator </PageTitle>
<h3>Calculator</h3>

<div class="calculator">

    <div class="calculator__output">
        <div class="calculator__output__result">
            @calculator.lhs
        </div>
        <div class="calculator__output__current">
            @calculator.rhs
            <div class="calculator__output__operator">
                [@calculator.op]
            </div>
        </div>
    </div>
    
    <div class="calculator__keys">
        <button @onclick="() => calculator.setOp('+')" class="calculator__key calculator__key--operator">+</button>
        <button @onclick="() => calculator.setOp('-')" class="calculator__key calculator__key--operator">-</button>
        <button @onclick="() => calculator.setOp('*')" class="calculator__key calculator__key--operator">&times;</button>
        <button @onclick="() => calculator.setOp('/')" class="calculator__key calculator__key--operator">÷</button>
        <button @onclick="() => calculator.add(7)" class="calculator__key">7</button>
        <button @onclick="() => calculator.add(8)" class="calculator__key">8</button>
        <button @onclick="() => calculator.add(9)" class="calculator__key">9</button>
        <button @onclick="() => calculator.add(4)" class="calculator__key">4</button>
        <button @onclick="() => calculator.add(5)" class="calculator__key">5</button>
        <button @onclick="() => calculator.add(6)" class="calculator__key">6</button>
        <button @onclick="() => calculator.add(1)" class="calculator__key">1</button>
        <button @onclick="() => calculator.add(2)" class="calculator__key">2</button>
        <button @onclick="() => calculator.add(3)" class="calculator__key">3</button>
        <button @onclick="() => calculator.add(0)" class="calculator__key">0</button>
        <button class="calculator__key">.</button>
        <button @onclick="() => calculator.clear()" class="calculator__key">AC</button>
        <button @onclick="() => calculator.calculate()" class="calculator__key calculator__key--enter">=</button>
    </div>
</div>

<div class="Stardew_components">
    <!-- 
    Search bar
    3x4 grid of icons? For later
    Change shop thingy
    https://www.daveabrock.com/2021/01/14/blast-off-blazor-search-box/
    -->
    <h3>Stardew valley components</h3>
    <input type="text" placeholder="Strawberry...", name="search">
</div>

@code {
    private SimpleCalculator calculator = new SimpleCalculator();
}
